*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    height: 100vh;
    overflow-y: hidden;
    background-image: linear-gradient(to top, #999, #eee);
    background-repeat: no-repeat;
}
.texto{
    margin: 20px 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto h1{
    color: #ef4135;
    background-color: #fff;
    padding: 15px;
}
.texto span{
    color:#0050a4;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 500px;
    font-weight: 500;
}
.texto a{
    text-decoration: none;
    color: #000;
}
.contenedor{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.blanco{
    position: relative;
}
.blanco h2{
    font-size: 7em;
    position: absolute;
    color: white;
    top: -90px;
    left: -35px;
}
.info, .blanco{
    width: 50%;
}
.info p{
    color: #000;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 810px){
    .texto{
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
    }
}